*{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    margin-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: goldenrod;
    font-size: 30px}

body{
    background-color: rgb(35, 33, 33);
}

button{
    font-size: 30px;
    width: 70px;
    margin: 5px 5px;
    border-radius: 20px;
    border: 3px solid black;
}

button:hover{
    cursor: pointer;
}

#zero{
    width: 155px;
}

.buttonsRow1, .buttonsRow2, .buttonsRow3, .buttonsRow4, .buttonsRow5, .input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 70px;
}

.input{
    margin-bottom: 15px;
}

#inputBox{
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 3px solid black;
}